.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.about-us p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.about-us_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quote {
    margin-top: 78px;
}

.quote-title {
    position: relative;
}

.quote-title p {
    font-size: 44px;
    padding-bottom: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 50px;
    padding-left: 55px;
    text-transform: uppercase;

}

.quote-title::before {
    content: url('./img/“.png');
    position: absolute;
}

.quote-title::after{
    content: url('./img/“.png');
    position: absolute;
    top: 59px;
    right: 107px;
    rotate: 180deg;
}

.quote-author {
    display: flex;
}

.quote-author p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-left: 30px;
}

.quote-author {
    float: right;
}

.about-us__content {
    display: flex;
    gap: 80px;
}